@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -moz-font-feature-settings: "ss03";
  -webkit-font-feature-settings: "ss03";
  font-feature-settings: "ss03";
}

@layer base {
  html {
    @apply font-iran-sans-x;
  }
}

.Toastify__toast {
  @apply !font-iran-sans-x text-sm;
}
